@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<h1>Add a new Flavor:</h1>
<hr/>

@using (Html.BeginForm())
{
  @Html.Label("Name", "Name")<br>
  @Html.TextBoxFor(model => model.Name, new { @class="form-control"})<br>

  @Html.Label("Description", "Description")<br>
  @Html.TextAreaFor(model => model.Description, new { @class="form-control"})<br>

  <button type="submit" class="btn btn-default">Add New Flavor</button><br>
}
